:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primery-white-color:  #FFFFFF;
}
.body{
    background-color: var(--decoration-color);
    color: var(--primary-text-color);
}
.logo {
   color: var(--accent-color); 
}
ul {
    list-style: none;
}
/* site-nav */
.site-nav a{
    color: var(--title-text-color) ;
}
.site-nav .link {
    color: var(--accent-color);
}
.site-nav .link.current {
   color: var(--accent-color); 
}
/* Hero */
.hero-title {
    color: var(--primery-white-color);  
}

/* Section */
.section-title {
    color: var(--title-text-color)  ;
}

/* Features */
.features .title {
    color: var(--title-text-color);
}
/* Examples */
.work-list .title {
    color: var(--title-text-color);
}
/* button */
.button {
 color: var(--primery-white-color); 
 background-color: var(--accent-color);   
}
.button.primary {
    color: var(--primery-white-color); 
    background-color: var(--accent-color); 
    border-color: transparent;
 }
.button.secondery {
color: var(--accent-color);
background-color: var(--primery-white-color);
border-color: var(--accent-color)

}
/* цвет основного текста  #212121*/

/* вторичный цвет текста  #757575*/

/* белый #FFFFFF */

/* акцент #2196F3 */

/* цвет футера #rgba(255, 255, 255, 0.6); */